[submodule "workspaces/SimpleZoom"]
	url = https://github.com/UnRealDinnerbone/SimpleZoom
[submodule "workspaces/TrampleStopper"]
	url = https://github.com/UnRealDinnerbone/TrampleStopper
[submodule "workspaces/GLL"]
	url = https://github.com/UnRealDinnerbone/GLL	
[submodule "workspaces/Yastm"]
	url = https://github.com/UnRealDinnerbone/Yastm		

